@model Product

<div class="container border">
    <h2>Edit Product</h2>
    <form asp-action="Edit" method="post">
        <input type="hidden" asp-for="Id" /> <!-- Include hidden field for Id -->
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control custom-width" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control custom-width" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control custom-width" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="form-group col-md-12">
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </form>
</div>


<style>
    .custom-width {
        width: 100%; /* Set all fields to 100% width */
    }

    .border {
        border: 1px solid #ddd; /* Add border */
        border-radius: 5px; /* Add border radius */
        padding: 20px; /* Add padding */
    }
</style>
